@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Archivo+Black&family=Gaegu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arbutus', serif;
    
}
body{
    height: 100vh;
    /*background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);*/
    background-color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
    
}
header{
    height: 80px;
    border-bottom: 3px solid black;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
    
}
footer{
    height: 80px;
    border-top: 3px solid black;
    text-align: center;
    color: rgb(16, 177, 16);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.jeu{
    margin: 20px;
    width: 400px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.205);
    border-radius: 15px;

}
.joueur{
   
    background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
    /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
   background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
   background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);   
   */
    margin-top: 100px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.zone{
    height: 100px;
    width: 100px;
    margin-top:8px;
    margin-right: 8px;
    border: solid 2px blueviolet ;
    border-radius: 5px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btr{
    width: 150px;
    height: 45px;
    margin-top: 15px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    transition: all 0.5s;
}
#btr:hover{
    width: 175px;
    color: rgba(0, 0, 172, 0.664);
}